# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
build/1panel

# Mac
.DS_Store
*/.DS_Store

# VS Code
.vscode
*.project
*.factorypath

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


